body {
  background-color: #B0C4DE;
}
a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header-main {
  height: 128px;
  transition: height 0.3s;
}

.App-header {
  height: 64px;
  transition: height 0.3s;
}

.App-title {
  flex: 1;
}

.App-intro {
  font-size: large;
}

.Content-main {
  background-color: #fff;
  height: 100%;
  padding: 2%;
  margin-top: 128px;
  transition: margin-top 0.3s;
}

.Content {
  background-color: #fff;
  height: 100%;
  padding: 2%;
  margin-top: 64px;
  transition: margin-top 0.3s;
}

.MainView-subheading {
  padding: 5px;
}

.MainView-subheading2 {
  padding: 20px 5px 5px 5px;
}

@keyframes add-button-opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

.Add-button {
  position: fixed !important;
  right: 30px;
  top: 100px;
  z-index: 1101;
  animation: add-button-opacity 1s;
 }

.Grid-Icon {
  justify-content: center;
  margin: auto;
  background-color: #B0C4DE;
  border: 3px transparent!important;
  width: 80px!important;
  height: 80px!important;
}

.Grid-Icon.chosen {
  border: 3px solid #3f51b5!important;
}

.ReservationCard-card-187.past{
  background-color: #DBDBD4
}

.Video-Image {
  width: 100%;
  height: auto;
  margin: 10px 0px 10px 0px;
}
