body {
  background-color: #B0C4DE;
}
a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header {
  height: 130px;
}

.App-title {
  flex: 1;
}

.App-intro {
  font-size: large;
}

.content {
  background-color: #fff;
  height: 100%;
  padding: 2%;
  margin-top: 130px;
}

.MainView-subheading {
  padding: 5px;
}

.MainView-subheading2 {
  padding: 20px 5px 5px 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Add-button {
  position: fixed !important;
  right: 30px;
  top: 102px;
  z-index: 1101;
 }

.Grid-Icon {
  justify-content: center;
  margin: auto;
  background-color: #B0C4DE;
  border: 3px transparent!important;
  width: 80px!important;
  height: 80px!important;
}

.Grid-Icon.chosen {
  border: 3px solid #3f51b5!important;
}
