body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Navbar {
  float: right;
}

.Dots-Menu {
  color: #fff;
}

.Add-button {
  position: absolute !important;
  right: 30px;
  top: 162px;
 }
